<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bodymassindex">

    <application
        android:allowBackup="true"
        android:icon="@drawable/calculator"
        android:label="Body-Mass Index"
        android:roundIcon="@drawable/calculator"
        android:supportsRtl="true"
        android:theme="@style/Theme.BodyMassIndex">
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>